body{
    font-family: "Montserrat";
}


.nav-link {
   
    color: #000 !important;
    text-decoration: none;
    font-family: "Montserrat";

  }
.nav-link.active {
    color: #FF76CE !important; 
}
  
.nav-link:hover {
    color: #FF76CE !important;

  }


#title {
  background-color: #a3d8ff;

}

.new-class{
   background-color: #a3d8ff;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 10; 
}


h1{
    font-family: "Montserrat-Black";
    font-weight:bolder;
    font-size: 3rem;
    line-height: 1.5;
    color: #FFF;
}
.container{
    padding: 3% 50%;
}
.btn{
    margin-left:5rem;
}

strong{
    color: #FDFFC2;
}
nav-link{
    color: #FDFFC2;

}
.btn{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: #FDFFC2;
}
.desc-btn{
    padding-top:10rem ;
}
.desc-btn2{
    padding-top:10rem ;
    color: #000000  !important;
    font-family: "Montserrat";
    font-weight: 600 !important;
}

.nav nav-item{
    color: #FFF;
}



/* Feature Section */
#features{
    padding: 7% 10%;
    background-color: #F5F8FD;
    justify-content: center;
    text-align: center;
}
.row{
    margin: 0 auto;
}

.feature-box {
    font-family: "Montserrat";
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
    /* margin-left: 7px; */
    border-radius: 10px;
    padding: 20px;
  
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
.feature-box:hover {
    animation: pulse 0.5s ease-in-out;
  }
/* .feature-box:hover{
  margin-top: 20px;
} */
/* .feature-box img {
    padding-top:30px;
} */
.para-card{
    text-align: start;
    justify-content: center;
    padding: 0 2em;
}

.title-card{
    margin-top: 8px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
}

.title-card:hover{
    cursor: pointer;

  color: #FF76CE;
}

.item{
    color: #F5F8FD;
}




/* About us Section */
#about-us{
    padding: 8% 24%;
    background-color: #FFFFFF;
}
.box-about{
    padding-top:30px ;
}
.box img{
    margin-top:4rem;
}
/* .img-about{
    margin: auto;
    width: auto;
    height: 200px;
} */

.about-h1{
    font-family: "Montserrat";
    font-weight: 800;
    line-height: 1;

    color: #413E66;
}
.about-h2{
    line-height: 1.5;
    font-family: "Montserrat";
    color: #7C6A99;
    margin-top:2rem;
}
.about-paragraph{
    font-family: "Montserrat";
    margin-top:2rem;


}



/* devis-section Section */

#devis-section{
    padding: 1% 15%;
    font-family: "Montserrat";
    color: #FFF;
    margin: 0;
    background-color: #2D2B46;
    text-align: center;
    line-height: 2;
}

.left-section{
    text-align: start;
}


/* contact-us Section */
#contact-us{
    padding: 7% 24%;
    font-family: "Montserrat";
    background-color: #F5F8FD;
    margin: 10;
    text-align: start;
    line-height: 2;
}

.contact-form{
    margin: 20px;
    font-family: "Montserrat";

}
.h{
    color: #000;
    text-decoration: underline;
    font-family: "Montserrat";

}
.h:hover{
    color: #FF76CE;
}




#portfolio-section {
    padding: 7% 10%;
    text-align: center;
    font-family: "Montserrat";
}
/* .h1-portfolio{
    color: #413E66;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 30px;
}
.filter-portfolio{
    margin: 30px;
    color: #413E66;
    text-decoration: none;
}

.filter-portfolio:hover{
    color: #FF76CE;
} */

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/*  */

/* End Portfolio */
.img-container {
    overflow: hidden;
    position: relative;
  }
.eye-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: transparent;  
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  }
.row:hover .eye-icon {
    opacity: 1;  
    color: white;  
}
.apps{
    margin-top: 20px;
}

.filter-active,
button[data-filter="*"]:hover {
  background-color: #ddd; /* or your desired hover color */
}

button[data-filter="apps"]:focus ~ div:not([class*="apps"]) {
  display:none;
}

button[data-filter="web"]:focus ~ div:not([class*="web"]) {
  display:none;
}

button[data-filter="games"]:focus ~ div:not([class*="games"]) {
  display:none;
}

.portfolio-image {
    display: none; 
}

#portfolio.active .portfolio-image {
    display: block;
}

.portfolio-image:hover {
    opacity: 0.8; 
}

.col-lg-12.d-flex {
    height: 100%; 
}

.portfolio-image {
    display: none;
  }
  
#portfolio.active .portfolio-image {
    display: block;
  }
  
.portfolio-image:hover {
    opacity: 0.8;
  }

/* button[data-filter="apps"]:focus ~ div:not([class*="apps"]) {
    display:none;
  }
  
button[data-filter="web"]:focus ~ div:not([class*="web"]) {
    display:none;
  }
  
button[data-filter="games"]:focus ~ div:not([class*="games"]) {
    display:none;
  } */
/* Footer Section */
#footer-section{
    padding: 2% 4%;
    font-family: "Montserrat";
    text-align: center;
}


