/* body{
    margin: 0px;
    text-align: center;
    font-family: "Merriweather", serif;
    
}
.img{
    height: 50px;
    width: 50px;
}

h1{
    margin: 2rem auto 0 auto;
    font-family: "Sacramento", cursive;
    font-weight: 700;
    font-style: normal;
    font-size:5rem;
    line-height: 2;

}
.h1{
    margin: 10rem auto 0 auto;
    font-family: "Sacramento", cursive;
    font-weight: 700;
    font-style: normal;
    font-size:3.8rem;
    color: #66BFBF;
    line-height: 2;
    text-decoration: underline;


}
.h1-footer{
    margin: 10rem auto 0 auto;
    font-family: "Sacramento", cursive;
    font-weight: 700;
    font-style: normal;
    font-size:2.8rem;
    color: #66BFBF;
    line-height: 2;
    text-decoration: underline;

}
.h3{
    margin: 3rem auto 0 auto;
    font-family: "Sacramento", cursive;
    font-weight: 700;
    font-style: normal;
    font-size:2.8rem;
    color: #66BFBF;
    line-height: 2;
    text-decoration: underline;

}
.first-container{
    height: 100px;
    display:flex;

}

hr{
    border: dotted #66BFBF 10px;
    border-bottom: none;
    width: 2%;
    margin: 100px auto;
}

p{
    display:inline-block;
    margin: 20px;

}
.body-container{
    background-color: #66BFBF;
    padding-bottom:4rem ;

}
.inside-container-first{
    position:fixed;
    left: 65%;
    top: 25px;
    color: #66BFBF;
}
.inside-container-first a{
    color: #66BFBF;
}
.inside-container-second{
    position: relative;
    left: 20px;
    top: 25px;
}

#profile{
    position: relative;
    top:900px;
    text-align: center;
}

h2{
    font-family: "Merriweather", sans-serif;
    font-size:1rem;

}

h3{
    font-family: "Merriweather", sans-serif;
    font-size: 1.5rem;
}


.img-giphy{
    border-radius:15px;
    margin-top: 15px;
    width: 500px;
    height: 500px;
}

.profile{
    margin-top: 2rem;
}

.whoAmi{
    text-align: start;
    justify-content: center;
    margin-top: 2.4rem;
    margin: 100px auto 100px auto;

}

.description{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: center;
    justify-content: center;
    line-height: 2rem;
    color: #66BFBF;
    font-family: "Merriweather", sans-serif;

}
.skills{
    width: 680px;
    margin: 10px auto 5px 15px;
    text-align: start;
    justify-content: center;
    line-height: 2rem;
    color: #000000;
    font-family: "Merriweather", sans-serif;

}

.code-text-skills{
    margin: 100px auto 100px auto;
}

.coding-img{
    height: 14rem;
    width: 14rem;
}

.coding-img-footer{
    height: 1.2rem;
    width: 1.2rem;
    margin: 30px ;
}


.footer{
    height: auto;
    margin: 10rem auto;
    width: 100%;
    background-color: #FFFFFF;
}

.footer-text{
    text-align: center;
}
.slide-img{
    margin: auto;
    width: 250px;
    border-radius: 20px;
    border:5rem black;
}
.slider{
    width: auto;
    margin: auto;
    border-radius: 2px green 2px;

}

.skills2{
    width: 700px;
    margin: auto;
    text-align: start;
    justify-content: center;
    line-height: 2rem;
    color: #000000;
    font-family: "Merriweather", sans-serif;
    display: flex;
}

.skills2 p{
    width: auto;
}

.project-section{
   width: auto;
   margin: auto;
}
.project-qoran-title{ 

    text-decoration: underline;
    line-height: 2rem;
    color: #66BFBF;
    font-size: 1.3rem;
    font-family: "Merriweather", sans-serif;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 5px 5px 5px #1870db;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


.footer-tag{
  color: #2980b9;
  padding:  auto 2rem;
  margin: auto 10px;
  text-decoration: none;
}
.footer-tag:hover{
    color: #FFFFFF;
}
.inner-footer{
    background-color: #3cb0fd;
    padding: 1rem;
}

.copyright{
    line-height: 2rem;
    color: #FFFFFF;
    font-size: 0.75rem;
    font-family: "Merriweather", sans-serif;
} */


body{
    font-family: "Montserrat";
}

/* Navbar Section */
#title{
    background-color: #A3D8FF;
}

h1{
    font-family: "Montserrat-Black";
    font-weight:bolder;
    font-size: 3rem;
    line-height: 1.5;
    color: #FFF;
}
.container{
    padding: 3% 50%;
}
.btn{
    margin-left:5rem;
}

strong{
    color: #FDFFC2;
}

.btn{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: #FDFFC2;
}
.desc-btn{
    padding-top:10rem ;
}
.desc-btn2{
    padding-top:10rem ;
    color: #FDFFC2;

}

.nav nav-item{
    color: #FFF;
}

/* Feature Section */
#features{
    padding: 7% 20%;
    background-color: #F5F8FD;
}

.feature-box {
    font-family: "Montserrat";
    background-color: #FFFFFF;
    text-align: center;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    padding: 7px;
    /* font-weight: 900; */
}

.feature-box:hover{
    padding-bottom: 10px;
    
}
/* .feature-box img {
    padding-top:30px;
} */
.para-card{
    text-align: start;
    justify-content: center;
    padding: 0 2em;
}

.title-card{
    margin-top: 8px;
    font-family: "Montserrat";
    font-size: 18px;
}

.title-card:hover{
    cursor: pointer;

  color: #FF76CE;
}

.item{
    color: #F5F8FD;
}